/* font-family: 'Noto Sans', sans-serif;
font-family: 'Staatliches', sans-serif; */
.container {
  width: 100%; /* Default width for screens larger than 1440px */
  margin: 0 auto;
  @media (min-width: 400px) {
    max-width: 368px;
  }
  @media (min-width: 530px) {
    max-width: 500px;
  }
  @media (min-width: 640px) {
    max-width: 608px;
  }
  @media (min-width: 768px) {
    max-width: 728px;
  }
  @media (min-width: 1024px) {
    max-width: 984px;
  }
  @media (min-width: 1440px) {
    max-width: 1300px;
  }
}
:root {
  --main-green: #418043;
  --main-green-hovered: #55a630;
  --dark-black: #0c0d0c;
  --dark-grey: #181818;
  --card-bg: #e6f0ee;
  --light-grey: #f2f7f6;
  --yellow: #fcb900;
}
* {
  box-sizing: border-box;
}
body,
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
body {
  font-family: "Noto Sans", sans-serif;
  font-size: 16px;
  line-height: 1.6;
}
a {
  text-decoration: none;
  cursor: pointer;
}
img {
  max-width: 100%;
  height: auto;
}
button,
input,
select {
  margin: 0;
}
h1,
h2,
h3 {
  font-family: "Staatliches", sans-serif;
  font-weight: 400;
}
blockquote {
  margin: 0;
}
header {
  position: fixed;
  background-color: white;
  width: 100%;
  z-index: 100;
}
.header img {
  padding: 1rem 0;
  max-width: 60px;
  @media (min-width: 1024px) {
    max-width: 150px;
  }
}
h1 {
  font-weight: 400;
  font-size: 50px;
  @media (min-width: 1024px) {
    font-size: 90px;
    margin-bottom: 30px;
    max-width: 40vw;
    line-height: 1.2em;
  }
}
.hero-sct {
  position: relative;
  padding: 12rem 0;
  background-image: url(images/hero-bg\ _.jpeg);
  background-size: cover;
  background-position: 50%;
  @media (min-width: 1024px) {
    padding: 19rem 0;
  }
}
.hero-sct::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}
.hero-sct__text {
  text-align: center;
  position: relative;
  color: white;
  @media (min-width: 1024px) {
    text-align: start;
  }
}
.hero-sct p {
  margin-bottom: 45px;
  width: 100%;
  font-weight: 400;
  line-height: 26px;
  font-weight: 200;
  @media (min-width: 1024px) {
    max-width: 40vw;
    text-align: start;
  }
}
.hero-sct__cta-wrapper {
  display: inline-block;
  margin: 0 auto;
  @media (min-width: 1024px) {
    display: inline-block;
  }
}

.hero-sct__cta {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-size: 23px;
  color: white;
  background-color: var(--main-green);
  padding: 1rem 2.1rem;
  transition: background-color 0.3s ease-in;
}
.hero-sct__cta:hover {
  background-color: var(--main-green-hovered);
}

.benefits-wrapper {
  position: relative;
  margin-top: -4rem;
  @media (min-width: 1024px) {
    display: flex;
  }
}
.benefits-item {
  background-color: var(--dark-grey);
  color: white;
  padding: 4rem 2rem;
  text-align: center;
}
.benefits-item svg {
  width: 60px;
  height: 60px;
}
.benefits-item h2 {
  color: var(--yellow);
  font-size: 1.9rem;
}
.darker-item {
  background-color: var(--dark-black);
}
.benefits-item__flex {
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
  align-items: center;
}

.section-desc {
  margin-top: 4rem;
  text-align: center;
}
.section-desc h2 {
  font-size: 2.1rem;
  margin-bottom: 1rem;
  @media (min-width: 1024px) {
    font-size: 2.8rem;
  }
}

.card-items {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
  text-align: center;
  @media (min-width: 640px) {
    flex-direction: row;
  }
}
.card-item {
  background-color: var(--light-grey);
  padding: 4rem 2rem;
}
.card-item h3 {
  font-size: 1.9rem;
}
.bold-text {
  font-weight: bold;
}
.card-item__flex {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}
.card-button {
  background-color: var(--main-green);
  padding: 1rem 2rem;
  color: white;
  font-size: 1.1rem;
  border: none;
  margin-top: 1rem;
  transition: background-color 0.3s ease-in;
  cursor: pointer;
}
.card-button:hover {
  background-color: var(--main-green-hovered);
}
.video-sct {
  padding: 4rem 0;
  background-color: black;
  color: white;
  text-align: center;
}
.video-sct__text h2 {
  font-size: 2.1rem;
  margin-top: 3rem;
  margin-bottom: 1rem;
}
.video-sct__text p {
  font-size: 1.3rem;
  margin-bottom: 3rem;
}

.food-cards {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 3rem;
  @media (min-width: 1024px) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}
.food-card {
  background-size: cover;
  padding: 2rem;
  position: relative;
  transition: all 0.4s ease-in-out;
  @media (min-width: 1024px) {
    max-width: 600px;
    padding-top: 12rem;
  }
}
.food-event-desc {
  background: white;
  padding: 2rem;
  text-align: center;
}
.food-event-desc h2 {
  font-size: 1.9rem;
}
.food-card img {
  right: 0;
  top: 0;
  z-index: -1;
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.food-card:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
.reviews-wrapper {
  margin-top: 2rem;
  margin-bottom: 4rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  @media (min-width: 1024px) {
    flex-direction: row;
  }
}
.review-card {
  background-color: var(--light-grey);
  text-align: center;
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  height: 100%;
}
.review-card img {
  clip-path: ellipse(22% 46% at 58% 51%);
  height: 160px;
  @media (min-width: 1024px) {
    border-radius: 50%;
    object-fit: cover;
    width: 160px;
    clip-path: none;
  }
}
.review-card h3 {
  font-size: 1.9rem;
}
blockquote > p {
  margin-bottom: 1rem;
  text-align: start;
}
.reviewer-name {
  font-family: "Staatliches", sans-serif;
  font-size: 1.2rem;
}
.subscribe-sect {
  position: relative;
  background-image: url(images/bg-food\ _.jpeg);
  background-size: 150%;
  background-position: 50%;
  padding: 4.5rem 2rem;
  color: white;
}
.subscribe-sect::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.subscribe-sect__text {
  position: relative;
  text-align: center;
}
.subscribe-sect__text h2 {
  font-size: 2.1rem;
  margin-bottom: 1rem;
}
.subscribe-sect__text p {
  margin-bottom: 2rem;
}
form {
  background: white;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  @media (min-width: 1024px) {
    max-width: 40%;
    margin: 0 auto;
  }
}
.hidden-ac {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
input {
  border: none;
  border-bottom: 2px solid rgb(230, 240, 238);
  text-align: center;
  font-size: 1rem;
  padding: 1rem;
  margin-bottom: 1rem;
}
input:focus {
  border-bottom: 2px solid var(--main-green);
  outline: none;
}
.logo-footer {
  padding: 1rem 0;
  max-width: 180px;

  @media (min-width: 1024px) {
    max-width: 150px;
  }
}
.footer {
  background-color: #0c0d0c;
  color: white;
  @media (min-width: 1024px) {
    margin-top: -4rem;
    padding-top: 4rem;
  }
}
.grid-footer {
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  @media (min-width: 1024px) {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
    column-gap: 2rem;
  }
}
.grid-footer__quote {
  font-family: "Staatliches", sans-serif;
  font-size: 1.5rem;
}
.grid-footer__desc {
  font-size: 0.8rem;
  font-weight: 200;
  padding: 0 2rem;
}
.grid-footer__contacts {
  font-style: normal;
  text-align: center;
  @media (min-width: 1024px) {
    text-align: start;
  }
}
.grid-footer__contacts a {
  color: white;
}
.grid-footer__contacts--title {
  font-family: "Staatliches", sans-serif;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}
.footer-app-img {
  width: 90px;
}
.footer-app-img__wrapper {
  margin-right: 1rem;
}
.gap-1 {
  margin-bottom: 1.5rem;
}
.copyright {
  text-align: center;
  padding-top: 5rem;
  padding-bottom: 2rem;
}
.play-button__wrapper {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: var(--main-green);
  position: relative;
}
.play-button {
  position: absolute;
  top: 0;
  right: 0;
}
.play-button__outer-wrapper {
  position: absolute;
  top: 30%;
  right: 40%;
  @media (min-width: 1024px) {
    top: 50%;
    right: 50%;
  }
}
.video-thumbnail {
  position: relative;
  cursor: pointer;
}

.video-popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 100;
}
.popup-visible {
  display: block;
}
.video-container {
  position: fixed;
  height: 30%;
  width: 100%;
  margin: 10rem 0;
  @media (min-width: 1024px) {
    max-height: 800px;
    height: 90%;
    position: fixed;
    margin: 5rem 4rem;
    width: 90vw;
  }
}
.video-container iframe {
  width: 100%;
  height: 100%;
}
.close-btn {
  position: absolute;
  top: 2%;
  right: 2%;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: white;
  font-size: 2rem;
}
.close-btn:hover {
  background-color: rgba(217, 215, 215, 0.5);
  border-radius: 50%;
}
